@import 'styles/colors';
@import 'styles/font-family';
@import 'styles/functions';

.schedule-page {
    margin-top: 3%;
    margin-left: 3%;
}

$break-small: 320px;

.working-hours-bar {
  background: transparentize(#000000, 0.6);
  color: $white;
  font-family: $ff-roboto;
  border-radius: calc-rem(4);
  height: calc-rem(56);
  display: flex;
  align-items: center;
  padding: calc-rem(10) calc-rem(19);
  text-align: center;

  &__contract-hours {
    font-weight: $ff-roboto-regular;
    font-size: calc-rem(18);
    border-right: 1px solid transparentize($white, 0.6);
    padding-right: calc-rem(19);
  }

  &__working-hours {
    flex-grow: 1;
    padding-left: calc-rem(10);
    font-weight: $ff-roboto-medium;
    font-size: calc-rem(14);
  }

  @media screen and (max-width: $break-small) {
    &__contract-hours {
      font-size: calc-rem(14);
    }

    &__working-hours {
      font-size: calc-rem(13);
    }
  }
}

.removable-time-range-picker {
  &__remove-icon {
    color: $red1-opacity80;
    font-size: calc-rem(16);
  }
}

.btns-time {
  margin-top: 5%;
}

.planning-page {
  margin-left: -5%;
  margin-right: -5%;
}

.empty-range {
  margin-top: 13%;
  margin-bottom: 10%;
}

.test {
  margin-top: 4%;
}

.global-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.day-card {
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-schedule {
  margin-top: 5%;
}

.input-hours {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.time-range {
  margin-top: 3%;
  margin-bottom: 3%;
}

.btn-validate {
    margin-bottom: 3%;
}

.schedule-summary {
  box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.2);
  height: calc-rem(56);
  background-color: $red1;
  border-radius: calc-rem(4);
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: calc-rem(5);
  padding: calc-rem(10) calc-rem(15);
  font-size: calc-rem(12);

  &__occurrences, &__weekly-hours {
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }
  &__occurrences {
    border-right: 1px solid rgba(255,255,255,0.3);
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $ff-roboto-bold;
    font-size: calc-rem(28);
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
  }
  &__text1 {
    font-size: calc-rem(12);
  }
  &__text2 {
    font-size: calc-rem(9);
  }

  &--dark {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: calc-rem(18);
    & .schedule-summary__occurrences {
      justify-content: flex-start;
    }
    & .schedule-summary__weekly-hours {
      justify-content: flex-end;
    }
    & .schedule-summary__value {
      font-size: calc-rem(18);
      font-weight: $ff-roboto-regular;
    }
    & .schedule-summary__text1 {
      font-size: calc-rem(18);
    }
    & .schedule-summary__text {
      margin-left: calc-rem(3);
    }
  }
}
