$grey: #B9B9B9;
$grey2: #A8AAB7;
$grey3: #7F8FA4;
$grey4: #516173;
$grey5: #C5D0DE;
$grey6: #E9EDF1;
$grey7: #E4E7EC;

$blue: #1991EB;
$blue2: #5E74ED;

$black: #354052;
$black2: #273142;

$white: #FFF;
$white2: #F9F9F9;

$red: #F85359;
$red1: #F5576C;
$red1-opacity10: rgba($red1, .1);
$red1-opacity80: rgba($red1, .8);
$red2: #F85359;

$green: #50E3C2;
$green2: #39B54A;

$yellow: #FFD38A;
$yellow1: #FEE5BF;
$yellow2: #FEC700;

$orange: #F39200;

$purple: #8834E1;
